<!-- <section class="property-biding"> -->
  <!-- <article>
    <h3>Interpolação / Interpolation</h3>
    <p>{{ url }}</p>
    <p>Resultado de 1 + 1 é: {{1+1}}</p>
    <p>Resultado de 1 + 1 não é: {{1+1+getValor()}}</p>
    <p>Curtiu o curso de angular?: {{ isCursoAngular() && curtirCurso()}}</p>
  </article>

  <article>
    <h3>Data-biding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
  </article> -->

  <!-- <article>
    <h3>Class e Style Biding</h3>
    <div>Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Informação</option>
        <option value="alert-warning">Atenção</option>
        <option value="alert-danger">Perigo</option>
      </select>

      <br><br>

      <div class="alert" role="alert" [class.alert-success] = "classe.value == 'alert-success'">
       Sucesso
      </div>

      <div class="alert" role="alert" [class.alert-warning] = "classe.value == 'alert-warning'">
        Atenção
      </div>

      <div class="alert" role="alert" [class.alert-danger] = "classe.value == 'alert-danger'">
        Perigo
      </div>

      <div class="alert" role="alert" [class.alert-info] = "classe.value == 'alert-info'">
        Informação
      </div>

      <br><br>

      <div class="alert {{ classe.value }}" role= "alert">Cor conforme classe</div>

      <br>

      <div class="alert" role="alert" [class.alert-danger] = "classe.value == 'alert-danger'"
        [style.display] = "classe.value == 'alert-danger' ? 'block' : 'none' ">
        Este texto só aparece em caso de erro 
      </div>

    </div>
  </article>
</section> -->

<!-- 
<section class="event-biding">

  <article>
    <h3>Event Biding</h3>
    <br><br>
    <div>

      
        <tr><input type="text" placeholder="Digite seu nome"
          (keyup) ="onKeyUp($event)"
          (keyup.enter) = "setValor($event.target.value)"
          (blur) = "setValor(campoInput.value)"
          #campoInput /></tr>
        <br>
        <tr><button class="btn btn-primary" (click)="botaoClicado()"> Clique</button></tr>
        <br><br>

        <tr><span>Nome:</span> {{ valor }}</tr>
        <br>

        <span (mouseover) = "onMouseOverOut()"
              (mouseoff) = "onMouseOverOut()"
              [class.highlight] = "isMouseOver">
          Passe o mouse sobre mim
        
        </span>
    </div>
  </article>
  
</section> -->

<app-meu-form></app-meu-form>